<script>
function myFunction(name) {
	ele = document.getElementById(name)
	if (ele.style.display == 'block'){
  		ele.style.display = 'none';}
	else{
		ele.style.display = 'block';		
		}
}
</script>
<style type="text/css">
  .left-arrow {
  display: inline-block;
  position: relative;
  background: lavender;
  padding: 15px;
}
.left-arrow:after {
  content: '';
  display: block;  
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid lavender;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}
</style>
{% load staticfiles %}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
            <span class="mdl-layout__title">Strategies</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/polls/">Strategies</a>
            <a class="mdl-navigation__link" href="/polls/best_strategy/">Stocks</a>
            <a class="mdl-navigation__link" href="/polls/top_stocks/">Top Stocks</a>
            <a class="mdl-navigation__link" href="/polls/best_opt_strategy/">Optimized Strategies</a>

      </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout__title">Strategies</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{% url 'strategy'%}">Strategies</a>
            <a class="mdl-navigation__link" href="/polls/best_strategy/">Stocks</a>
            <a class="mdl-navigation__link" href="/polls/top_stocks/">Top Stocks</a>
            <a class="mdl-navigation__link" href="/polls/best_opt_strategy/">Optimized Strategies</a>
        </nav>
     </div>
      <main class="mdl-layout__content">
           <div class="mdl-grid">
                       <div class="mdl-cell mdl-cell--2-col" style="background-color: lavender; height:85%; overflow-y: scroll; overflow-x: hidden; position: fixed">
                               {% for strategy in dictt.0 %}
                                    <a class="mdl-button mdl-js-button mdl-button--primary" href="{% url 'stocks_profit_of_strategies' strategy %}" style="width:100%;text-align: left">
                                      {{ strategy }}
                                    </a>
                               {% endfor %}
                       </div>
                       <div class="mdl-cell mdl-cell--2-col"></div>
                        <div class="mdl-cell mdl-cell--2-col">
                        <div class="left-arrow" style="width:13% ;position:fixed"><b style="color:rgb(63,81,181);text-transform: uppercase;">{{dictt.2}}</b>
                        </div>
                         
                        </div>
                       <div class="mdl-cell mdl-cell--8-col" style="height:85%;">
                                  <table class="mdl-data-table mdl-js-data-table" style="width:50%">
                                  <thead>
                                    <tr>
                                      <th class="mdl-data-table__cell--non-numeric">Script</th>
                                      <th>Profit</th>
                                    </tr>
                                  </thead>                               
                                    {% for stock_profit in dictt.1%}
                                      <tr>
                                         <td class="mdl-data-table__cell--non-numeric">{{stock_profit.scrip}}</td><td>{{stock_profit.profit}}</td>
                                      </tr>
                                     {% endfor %}
                                </table>
                       </div>
            </div>

      </main>
</div>


