<script>
function myFunction(name) {
	ele = document.getElementById(name)
	if (ele.style.display == 'block'){
  		ele.style.display = 'none';}
	else{
		ele.style.display = 'block';
		}
}
</script>

{% load staticfiles %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
            <span class="mdl-layout__title">Top Stocks</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/polls/">Strategies</a>
            <a class="mdl-navigation__link" href="/polls/best_strategy/">Stocks</a>
            <a class="mdl-navigation__link" href="/polls/top_stocks/">Top Stocks</a>
            <a class="mdl-navigation__link" href="/polls/best_opt_strategy/">Optimized Strategies</a>

      </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout__title">Top Stocks</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/polls/">Strategies</a>
            <a class="mdl-navigation__link" href="/polls/best_strategy/">Stocks</a>
            <a class="mdl-navigation__link" href="/polls/top_stocks/">Top Stocks</a>
            <a class="mdl-navigation__link" href="/polls/best_opt_strategy/">Optimized Strategies</a>
        </nav>
     </div>
      <main class="mdl-layout__content">
           <div class="mdl-grid">
               <div class="mdl-cell mdl-cell--3-col"></div>
               <div class="mdl-cell mdl-cell--6-col">
                <table class="mdl-data-table mdl-js-data-table" style="width:100%">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">Stock</th>
                      <th class="mdl-data-table__cell--non-numeric">Strategy</th>
                      <th>Profit</th>
                    </tr>
                  </thead>
                    {% for script in dictt %}
                        <tr>
                         <td class="mdl-data-table__cell--non-numeric">{{ script.scrip }}</td>
                         <td class="mdl-data-table__cell--non-numeric">{{ script.strategies}}</td>
                         <td >{{ script.max_profit }}</td>
                            </tr>
                    {% endfor %}
                     </table>
                   </div>
                  <div class="mdl-cell mdl-cell--3-col"></div>

            </div>

      </main>
</div>
